<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Qué necesito saber sobre la conferencia?</h2>
                    <h3 class="section-subheading text-muted">Datos clave sobre este evento sobre visualización de datos COVID-19</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        
                                                <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/calendar.png" alt="Jueves 12 de abril de 2018, 16:00 a 18:00">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>¿Cuándo?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Viernes 5 de marzo de 2021, de 16:00 a 17:30<br /><a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=YzhzajhjaHBjOHI2NGI5bTY4cmplYjlrY2dyNmFiOW83MHBtMmI5cDZrc202Y2hoNzRybThkajE2ayBtaXJlbi5iZXJhc2F0ZWdpQGRldXN0by5lcw&tmsrc=miren.berasategi%40deusto.es"><i class="fa fa-calendar"></i> Añádelo a tu calendario</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/mapa.png" alt="Aula digital, Universidad de Deusto, campus de Donostia">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>¿Dónde?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Aula Digital de la Universidad de Deusto,<br />campus de Donostia / San Sebastián<br /><a href="https://www.openstreetmap.org/#map=19/43.31025/-1.97591" target="_blank">Mundaiz 50, 20012 Donostia</a><br /><strong>Hasta completar aforo</strong></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/video.png" alt="También por streaming">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Streaming</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">También será posible seguir el evento en remoto<br />[ LINK PRÓXIMAMENTE ]</p>
                                </div>
                            </div>
                        </li>
                 <!--       <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>¿Quién?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Echa un ojo a <a href="#portfolio">los/as participantes</a>.</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/grafico.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>¿De qué vamos a hablar?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La pandemia de la COVID-19 ha puesto de manifiesto lo importantes que son los datos en general, y sus representaciones gráficas en particular, para la toma de decisiones, de lo personal a lo político, de lo económico a lo social.</p>
                                </div>
                            </div>
                        </li> 
                        <li>
                            <div class="timeline-image">
                                <h4>¡NO ES <br /> NECESARIO <br />RESERVAR!</h4>
                            </div>
                        </li>
      <!--                  <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>     -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
