<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.deusto.es/cs/Satellite/deusto/es/masteres/estudios-masteres/experto-en-analisis-investigacion-y-comunicacion-de-datos/programa">
                        <img src="img/logos/deustodatos.png" class="img-responsive img-centered" alt="Programa Experto 'Análisis, Investigación y Comunicación de Datos'">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="http://deustokom.deusto.es">
                        <img src="img/logos/logo-deustokom.jpg" class="img-responsive img-centered" alt="Departamento de Comunicación, Universidad de Deusto">
                    </a>
                </div>
            </div>
        </div>
    </aside>