<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="https://socialesyhumanas.deusto.eus/cs/Satellite/socialesyhumanas/eu/euskal-gaien-institutua-0" target="_blank">
                        <img src="img/logos/euskal-gaiak.jpg" class="img-responsive img-centered" alt="Euskal Gaien Institutua">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.deusto.es/cs/Satellite/deusto/es/nuevos-estudiantes-de-grado/estudios-grados/comunicacion/programa" target="_blank">
                        <img src="img/logos/logo-ccssyhh.png" class="img-responsive img-centered" alt="Departamento de Comunicación, Universidad de Deusto">
                    </a>
                </div>
            </div>
        </div>
    </aside>