<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.deusto.es/cs/Satellite/deusto/es/masteres/estudios-masteres/curso-de-introduccion-a-la-comunicacion-visual-de-datos/programa" target="_blank">
                        <img src="img/logos/deustodatos.png" class="img-responsive img-centered" alt="Curso 'Introducción a la Comunicación Visual de Datos'">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="https://www.deusto.es/cs/Satellite/deusto/es/nuevos-estudiantes-de-grado/estudios-grados/comunicacion/programa" target="_blank">
                        <img src="img/logos/logo-ccssyhh.png" class="img-responsive img-centered" alt="Departamento de Comunicación, Universidad de Deusto">
                    </a>
                </div>
            </div>
        </div>
    </aside>