<!-- Team Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programa</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <h4>Abenduak 1, asteazkena</h4>
                    <p>Areto Digitala, Donostiako campusa</p>
                    
                    <h3>Komunikazioa eta politika</h3>

                    <table>
                        <tr>
                            <td>9:00</td>
                            <td>Bertaratutakoei harrera eta bileraren aurkezpena</td>
                        </tr>
                        <tr>
                            <td>9:15</td>
                            <td><strong>Inaugurazio-hitzaldia<br/>Karen Sanders: <em>Creating communicating organizations in turbulent times</em></strong></td>
                        </tr>
                        <tr>
                            <td>10:15</td>
                            <td>Alazne Mujika: <em>La comunicación, una profesión en transformación</em></td>
                        </tr>
                        <tr>
                            <td>10:35</td>
                            <td>Lorena Ronda: <em>La comunicación institucional como instrumento de legitimación cultural del consumo sostenible</em></td>
                        </tr>
                        <tr>
                            <td>10:55</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Atsedena / Kafea</strong></td>
                        </tr>
                        <tr>
                            <td>11:30</td>
                            <td>Xabier Barandiaran: <em>La construcción de la confianza a través de la comunicación política en tiempos postcovid</em></td>
                        </tr>
                        <tr>
                            <td>11:50</td>
                            <td>Leyre Arrieta, Eider Landaberea, Ion Muñoa: <em>Discursos políticos en tiempos de crisis</em></td>
                        </tr>
                        <tr>
                            <td>12:10</td>
                            <td>José Ángel Achón, Felix Arrieta: <em>Tiempos de postverdad y discursos dogmáticos</em></td>
                        </tr>
                        <tr>
                            <td>12:30</td>
                            <td>Eztabaida</td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Bazkaria</strong></td>
                        </tr>
                    </table>

                    <h3>Komunikazioa eta <br />gizarte-aldaketak</h3>

                    <table>
                        <tr>
                            <td>14:30</td>
                            <td>José Antonio Marín: <em>El cuarto sin poder: historias de la Comunicación</em></td>
                        </tr>
                        <tr>
                            <td>14:50</td>
                            <td>Luzia Alberro, Josu Bijueska: <em>Transformaciones mutuas de las clases subalternas y sus medios de comunicación: bersolarismo y género en la crisis de la sociedad vasca finisecular (XIX-XX)</em></td>
                        </tr>
                        <tr>
                            <td>15:10</td>
                            <td>Miren Guiérrez, María Jesús Pando, Pilar Rodríguez: <em>Resistencias antifeministas en tiempos de crisis</em></td>
                        </tr>
                        <tr>
                            <td>15:30</td>
                            <td>Eztabaida</td>
                        </tr>
                    </table>

               </div>
               <div class="col-sm-6 text-center">
                    <h4>Abenduak 2, osteguna</h4>
                    <p>Mensajero aretoa, Bilboko campusa</p>

                    <h3>Komunikazioa eta <br />gizarte-aldaketak</h3>

                    <table>
                        <tr>
                            <td>9:15</td>
                            <td>Estibaliz Amorrortu, Elixabete Perez Gaztelu: <em>Negociación lingüística en una comunidad de prácticas digitales, durante la pandemia de la COVID-19</em></td>
                        </tr>
                        <tr>
                            <td>9:35</td>
                            <td>Xabier Landabidea: <em>Arnasgune birtualak eta euskarazko praktika komunitate berriak: 3000 Twitz, Rolariak eta Game Erauntsiaren kasua</em>
                            </td>
                        </tr>
                        <tr>
                            <td>9:55</td>
                            <td>Marina Landa: <em>Música pandémica: los discursos del pop vasco en la pandemia de la COVID-19</em></td>
                        </tr>
                        <tr>
                            <td>10:15</td>
                            <td>Juan Pagola: <em>Los temas de la agenda política internacional en los semanarios de la pandemia (marzo-julio 2020)</em></td>
                        </tr>
                        <tr>
                            <td>10:35</td>
                            <td>Eztabaida</td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Atsedena / Kafea</strong></td>
                        </tr>
                        <tr>
                            <td>11:15</td>
                            <td>Miren Berasategi: <em>Comunicación de datos COVID-19 en la prensa vasca</em></td>
                        </tr>
                        <tr>
                            <td>11:35</td>
                            <td>Paola Aguirre: <em>Impacto del covid-19 en el Fundraising: los cambios que llegaron para quedarse</em></td>
                        </tr>
                        <tr>
                            <td>11:55</td>
                            <td>Garazi Azanza, Lorena Ronda: <em>Perspectivas de género en la comunicación para la atracción de talento en las organizaciones</em></td>
                        </tr>
                        <tr>
                            <td>12:15</td>
                            <td>Eztabaida</td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Bazkaria</strong></td>
                        </tr>
                        <tr>
                            <td>15:00</td>
                            <td>Nemanja Milošević:<em> Distrust during the health crisis: Exploring the communicative practices and the role of the professional managerial class</em></td>
                        </tr>
                        <tr>
                            <td>15:20</td>
                            <td>Javier González: <em>Del fuego al SEO: Evolución de  los cuentos en tiempos pandémicos. Una comparación de "La Cenicienta" de 1634 y 2021</em></td>
                        </tr>
                        <tr>
                            <td>15:40</td>
                            <td><strong>Itxiera hitzaldia<br />Javier Erro: <em>Comunicar para transformar desde la contracultura de la solidaridad</em></strong></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Eztabaida eta bileraren itxiera</strong></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </section>
