header .intro-text .intro-lead-in { font-family: Montserrat, Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:40px; letter-spacing: .1em; }

header .intro-text .intro-heading { font-family:"Playfair Display", "Times New Roman", serif; text-transform: none; }

header .intro-text .intro-heading span {}