header .intro-text .intro-lead-in { font-family: Montserrat, Helvetica, Arial, sans-serif; text-transform: uppercase; font-size:40px; letter-spacing: .1em; }

header .intro-text .intro-heading { font-family:"Playfair Display", "Times New Roman", serif; text-transform: none; }

header .intro-text .intro-heading span { font-weight:normal; }

ul.nav .lang { font-size: .8em;  }
ul.nav .lang span { background-color: rgba(255,255,255,.3); color: #333; padding: .3em; }
ul.nav .lang span.active { background-color: rgba(255,255,255,.9); font-weight: bold; }
ul.nav .lang a.eu { padding-right: 0; }
ul.nav .lang a.es { padding-left: 0; }
ul.nav .lang a.eu span { border-top-left-radius: 20%; border-bottom-left-radius: 20%;  }
ul.nav .lang a.es span { border-top-right-radius: 20%; border-bottom-right-radius: 20%; }
ul.nav .lang a:hover span { background-color: rgba(255,255,255,.6); }
.navbar-collapse.in ul.nav .lang { display: inline-block; }

.team-member img { max-width: 250px; }

#schedule h3 { text-transform: none; }
#schedule tr td:first-child { vertical-align: top; } 
#schedule tr td:nth-child(2) { padding-left: 1em; text-align: left; }